:root {
  --primary-color: #F5C34A;
  --text-color: #222;
  --border-color: #ccc;
  --background-color: #fff;
}

body {
 	font-family: "Poppins", Tahoma, Geneva, Verdana, sans-serif;
  background-color: var(--background-color);
  color: var(--text-color);
  margin: 0; padding: 0;
}

.picklist-container {
  max-width: 21cm;
  margin: 2rem auto;
  padding: 2rem;
  background: var(--background-color);
  border: 1px solid var(--border-color);
}

header {
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid var(--primary-color);
  padding-bottom: 1rem;
  margin-bottom: 1.5rem;
}

header .order-info strong {
  color: var(--primary-color);
}

.warehouse h2 {
  color: var(--primary-color);
  font-weight: 700;
  margin-bottom: 1rem;
}

.aisle h3 {
  border-bottom: 1px solid var(--border-color);
  margin-bottom: 0.7rem;
  padding-bottom: 0.3rem;
}

.bay-list table {
  width: 100%;
  border-collapse: collapse;
  font-size: 14px;
}

.bay-list table thead {
  background: var(--primary-color);
  color: #fff;
  font-weight: 700;
  text-align: left;

}

.bay-list table th, .bay-list table td {
  padding: 0.6rem 1rem;
  border: 1px solid var(--border-color);
  text-align: left;
}

.bay-list table tbody tr:nth-child(even) {
  background: #f7f7f7;
}
